.card {
  /* border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; */
  display: flex;
  justify-content: center;

  background: linear-gradient(229.47deg, #3CABDB 4.11%, #6654F1 94.47%);
  border-radius: 0px 0px 8px 8px;
  transform: matrix(1, 0, 0, -1, 0, 0);

}

.textColor {
  color: #000B23;
}



.add_details {
  background: #F8F8F8;
  padding: 10px 32px;
  border-radius: 12px;
  margin-bottom: 32px;
}

.total_amt {
  width: 20px;
  height: 12px;
}

.tag {
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  justify-content: center;
  border-radius: 0;
  margin-left: 0.3rem;
}

.send_btn {
  background: #0099A8 !important;
  color: #FFFFFF;
  min-width: 125px;
  border: none;
}

.action Button {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send_btn:hover,
.send_btn:active,
.send_btn:focus {
  background: #02a2b0;
}