.dashboard_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 22px; */
    column-gap: 20px;
}

.chartBar{
    grid-column-start: 1;
    grid-column-end: 4;
    /* border: 2px solid red; */
}