.loading.cover-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loading.cover-page {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.loading .ant-spin {
  color: #3e79f7;
}

.ant-menu-inline.ant-menu-root .ant-menu-item > .ant-menu-title-content,
.ant-menu-inline.ant-menu-root
  .ant-menu-submenu-title
  > .ant-menu-title-content {
  display: flex;
  align-items: center;
}

.uploaddoc {
  height: 230px;
  border: 2px dashed rgb(161, 198, 239);
  border-radius: 5px;
}

.notificationBox {
  position: absolute;
  top: 115%;
  right: 0px;
  background: white;
  width: 450px;
  height: 550px;
  box-shadow: 1px 2px 17px 0px #80808047;
}
.notificationHover {
  cursor: pointer;
}

.notiBox {
  overflow: auto;
  height: 480px;
}

.notificationHover:hover {
  background-color: #ecf6ff;
}

.list-style-none {
  padding: 0;
}

.list-style-none li {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.changeVideo .uploadFile {
  top: 0;
  left: 0;
  z-index: 2;
}
.customAudio {
  width: 80%; /* Set the width of the audio element */
  /* Add other custom styles as needed */
}

.customAudio::-webkit-media-controls-panel {
  /* Add custom styles for the media controls panel */
  /* For example: */
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.customradioInput {
  margin-right: 0;
  display: flex;
}
.customradioInput > span:nth-child(2) {
  padding-right: 0;
  width: 100%;
  display: flex;
}

.circleTeacherImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
th.ant-table-cell{
  color: #3e79f7 !important;
}

.imagesUpload .ant-tooltip-inner,.imagesUpload .ant-tooltip-arrow-content,.imagesUpload .ant-tooltip-inner{
  display: none !important;
}


.tabbarWhite .ant-tabs .ant-tabs-nav{
  background-color: white;
}
.correctOpt{
  background: #e6ebf15c;
    border-radius: 5px;
    position: relative;
}
.correctOpt label{
  width: 100%;
}

.correctOpt .customCircle{
  background-color:#D4D4D4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 4px;
}
.normalOpt .customCircle{
  background-color:#D4D4D4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white !important;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 4px;
}

.correctOpt label span:nth-child(1){
  width: 25px;
}

.correctOpt label span:nth-child(2){
  display: flex;
  justify-content: space-between;
  /* width: 500px; */
}
.correctOpt .tick{
  position: absolute;
  top: 12px;
  right: 8px;
}
.normalOpt label{
  width: 100%;
}

.normalOpt label span:nth-child(1){
  width: 25px;
}

.normalOpt label span:nth-child(2){
  display: flex;
  justify-content: space-between;
  /* width: 500px; */
}
.uploadfilevalidationastrick::before{
  display: inline-block;
  margin-right: 4px;
  color: rgb(255, 107, 114);
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}